ul:not([class]) {
  list-style: none;

  li {
    padding-left: 25px;
    margin-bottom: 20px;
    position: relative;

    &:before {
      font-family: 'IgelIcon';
      content: '\ea03';
      color: $color__main;
      font-size: 11px;
      position: absolute;
      left: 0;
      font-weight: bold;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @include media(lg) {
      padding-left: 30px;
      margin-bottom: 25px;
    }
  }
}