.c-accordion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__el {
    width: 100%;
    border-bottom: 1px solid $color__border;
    display: block;


    &--has-content {
      .c-accordion__title {
        user-select: none;
        cursor: pointer;
      }

      &[aria-expanded="true"] {
        .c-accordion__title:before {
          transform: translateX(-50%) rotate(90deg) !important;
        }
      }
    }
  }

  @include media(xl) {
    &__el {
      flex: 0 0 45%;
      flex: 0 0 calc(50% - 20px);
    }
  }

  &__title {
    font-size: 16px;
    padding: 18px 18px 18px 40px;
    position: relative;
    flex: 0 0 100%;
    display: block;
    color: $color__text;

    &:before {
      content: '\ea03';
      font-family: 'IgelIcon';
      color: $color__text--subtle;
      font-size: 12px;
      position: absolute;
      left: 20px;
      transform: translateX(-50%);
      transition: transform .4s ease;
    }

    &:hover {
      background: rgba($color__gray--light, .4);

      &:before {
        transform: translateX(-50%) translateX(4px);
      }
    }

    @include media(lg) {
      padding: 20px 20px 20px 50px;
      font-size: 18px;
      &:before {
        font-size: 13px;
        left: 25px;
      }
    }

    @include media(xl) {
      padding: 22px 22px 22px 60px;
      font-size: 20px;
      &:before {
        font-size: 14px;
        left: 30px;
      }
    }
  }

  &__content {
    height: 0;
    overflow: hidden;
    transition: height .3s ease;

    &__inner {
      padding: 20px;
    }

    @include media(lg) {
      &__inner {
        padding: 25px;
      }
    }

    @include media(xl) {
      &__inner {
        padding: 30px;
      }
    }

    &--expanded {
      .c-accordion__title {
        &:before {
          transform: translateX(-50%) rotate(45deg);
        }
      }
    }
  }
}