.c-contact-form {

  margin-bottom: 320px;

  &__form {
    margin-bottom: -300px;

    &.c-hero__box {
      display: block;
    }
  }

  &--raw {
    margin-bottom: 0 !important;
  }

  &--raw .c-contact-form__form {
    margin-bottom: 0 !important;
    width: 100%;
  }


  &__text-area-wrap {
    margin-top: 15px;

    div {
      height: 100%;
    }
  }

  &__submit {
    width: 100%;
    margin-top: 15px;
  }

  @include media(md) {
    margin-bottom: 270px;
    &__form {
      margin-bottom: -240px;
    }
  }

  @include media(lg) {
    margin-bottom: 200px;
    &__form {
      margin-bottom: -180px;
    }

    &__text-area-wrap {
      margin-top: 0;
    }

    &__submit {
      margin-top: 25px;
    }
  }

  @include media(xl) {
    margin-bottom: 190px;
    &__form {
      margin-bottom: -160px;
    }

    &__submit {
      margin-top: 30px;
    }
  }

  @include media(xxl) {
    margin-bottom: 160px;
    &__form {
      margin-bottom: -120px;
    }
  }
}