.c-evaluation {
  width: 100%;

  &__steps {
    display: flex;
    position: relative;
    align-items: flex-start;
  }

  &__search-wrap {
    margin-top: 40px;
    padding: 10px;
    border: 1px solid #E0E0E0;
  }


  &__step {
    &__title {
      border-bottom: 1px solid rgba($color__border, .4);
      margin-bottom: 25px;
      padding-bottom: 15px;
      font-size: 20px;
    }

    opacity: 0;
    pointer-events: none;
    width: 100%;
    margin-right: -100%;

    &[data-active="true"] {
      position: relative;
      opacity: 1;
      pointer-events: initial;
    }

    &--initial {
      display: flex;
      flex-direction: column;
    }

    &:not([data-valid="true"]) {
      .c-evaluation__buttons {
        button {
          background: #b7bdb5;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    margin-top: 30px;

    &__text {
      display: none;
    }

    button {
      width: 50%;

      &:first-of-type {
        background: #b7bdb5;
        margin: 0 5px 0 0;
      }

      &:last-of-type {
        margin: 0 0 0 5px;
      }
    }
  }

  [data-action="prev"] {
    i {
      transform: rotate(180deg);
    }

    &:hover {
      i {
        transform: rotate(180deg) translateX(7px);
      }
    }
  }

  &__input {
    label {
      user-select: none;
    }

    input[type="radio"] {
      display: none;
    }

    &--radio {
      .c-checkbox {
        margin-bottom: 10px;

        i {
          margin-right: 10px;
          font-size: 28px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        label {
          display: flex;
          align-items: center;
          font-weight: 600;
          background: transparent;
          //box-shadow: 0 1px 2px rgb(black, .05);

          &:hover {
            background: #f9fbf8;
          }
        }

        input:checked + label {
          box-shadow: 0 1px 2px rgb(black, .15);
          background: #f9fbf8;
          color: $color__text;
        }

      }
    }

    &--text, &--number {
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .input-wrap {
    margin-bottom: 15px;
  }

  @include media(md) {

    &__buttons {
      &__text {
        display: block;
      }
    }

    &__step {

      &--initial {
        flex-direction: row;
      }

      & > * {
        flex: 1 1 50%;
      }
    }

    .input-wrap {
      margin-bottom: 0;
    }
    button {
      margin-left: 20px;
    }
  }

  @include media(lg) {
    button {
      margin-left: 30px;
    }
    &__buttons {
      button {

        &:first-of-type {
          margin: 0 15px 0 0;
        }

        &:last-of-type {
          margin: 0 0 0 15px;
        }
      }
    }
  }

  @include media(xl) {


    &__search-wrap {
      padding: 20px;
    }

    &__input {

      &--radio {
        flex-direction: row;
        display: flex;

        .c-checkbox {
          flex-grow: 1;
          margin-bottom: 0;
          margin-right: 15px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}