[data-page="Homepage"] {

  footer {
    margin-top: 0 !important;
  }

  .c-hero--img {
    .text-pretitle {
      margin-top: 0 !important;
    }

    &:before {
      padding-top: 22% !important;
    }
  }

  @include media(md) {
    .c-hero--img {
      max-height: 680px;

      &:before {
        padding-top: 22% !important;
      }
    }
  }

  .c-frontpage {

    &__button-title {

      &__title {
      }

      .button {
        display: none;
      }
    }

    &__services-image {
      @include aspect-ratio(4, 3);
      width: 100%;
      position: relative;
      overflow: hidden;
      margin-bottom: 35px;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }

      @include media(lg) {
        @include aspect-ratio(1135, 400);
      }
    }
  }

  .mobile-all-immo {
    width: 100%;
    margin-top: 40px;

    @include media(xl) {
      display: none;
    }
  }

  .c-immo-list__el__title {
    margin-bottom: 0 !important;
  }

  .c-immo-list__el__details {
    display: none !important;
  }

  .c-immo-list__el {
    &:nth-of-type(3) {
      display: none;

      @include media(lg) {
        display: block;
      }
    }
  }


  @include media(xl) {
    .c-hero--img:before {
      padding-top: 33% !important;
    }
  }
}