.c-immo-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;

  &__nothing-found {
    background: #f6f6f6;
    border: 1px solid #eeeeee;
    color: #525252;
    width: 100%;
    padding: 50px;
    text-align: center;
  }

  &__el {
    margin-bottom: 30px;
    flex: 0 0 100%;
    cursor: pointer;

    &__badge {
      position: absolute;
      background: rgba($color__main, 1);
      box-shadow: 0 0 15px rgba(black, .6);
      text-shadow: 1px 1px 2px rgba(black, .15);
      top: 0;
      right: 0;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 60px;
      transform: translate(25%, 50%) rotate(40deg);
      width: 215px;
      text-align: center;
    }

    &__wdf {
      opacity: 0;
      z-index: 2;
      transition: opacity 0.5s ease;
      position: absolute;
      top: -4px;
      left: -4px;
    }


    &__inner {
      position: relative;
      height: 100%;
      transition: transform .2s ease;
      display: flex;
      flex-direction: column;

      &:before {
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s ease;
        box-sizing: content-box;
        border: 10px solid white;
        top: -10px;
        left: -10px;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: '';
        box-shadow: 0 5px 10px rgba(black, .06), 0 10px 25px rgba(black, .07);
      }
    }

    &:hover {
      .c-immo-list__el__inner {
        transform: scale(1.03);

        img {
          transform: scale(1);
        }

        &:before {
          opacity: .7;
        }
      }
    }

    &__image-wrap {
      width: 100%;
      position: relative;
      @include aspect-ratio(340, 230);
      background: rgba($color__text--subtle, .2);

      &-inner {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
      }
    }

    &__price {
      width: 100%;
      padding: 15px 0;
      border-bottom: 1px solid $color__border;
      margin-bottom: 15px;
      color: $color__text--subtle;
    }

    &__title {
      width: 100%;
      margin-bottom: 10px;
      flex-grow: 1;
    }

    &__details {
      width: 100%;
      color: $color__text--subtle;
      list-style: none;

      li {
        display: inline-block;

        &:after {
          margin-right: 5px;
          content: ',';
        }

        &:last-of-type {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  @include media(md) {
    margin-bottom: -35px;
    &__el {
      flex: 0 0 50%;
      margin-bottom: 35px;

      &:nth-of-type(2n - 1) {
        padding-right: 10px;
      }

      &:nth-of-type(2n) {
        padding-left: 10px;
      }
    }
  }

  @include media(lg) {
    margin-bottom: -40px;
    &__el {
      flex: 0 0 33.33333%;
      margin-bottom: 40px;

      &:nth-of-type(3n - 2) {
        padding-left: 0;
        padding-right: 20px;
      }

      &:nth-of-type(3n - 1) {
        padding: 0 10px;
      }

      &:nth-of-type(3n) {
        padding-right: 0;
        padding-left: 20px;
      }
    }
  }
}